<ion-header>
    <ion-toolbar>
        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title class="ion-text-center">
            Niveles de emergencia
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="completo">
        <ion-row class="completo ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-row>
                    <ion-col>
                        <ion-button type="button" class="btn btn-lg btn-primary" enabled color="danger" expand="block" size="" href="emergenciaGrave">
                            URGENCIA MEDICA
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" enabled color="warning" expand="block" size="" href="emergenciaMedia">
                            EMERGENCIA MEDICA
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" enabled color="success" expand="block" size="" expand="block" href="emergenciaMenor">
                           URGENCIA MENOR
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" enabled color="primary" expand="block" size="" expand="block" href="sinEmergencia">
                            SIN URGENCIA
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" offset="1">
                <ion-button href="notas" color="danger" expand="block" size="" href="help">
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>