<ion-header>
    
    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title color="tertiary" class="ion-text-center" >
            <font size = "5">Sin emergencia</font><br>
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    
    <ion-grid class="completo">
        <ion-row>
            <ion-col class="ion-text-center">
                <b>
                    <font size="6" color="white">Usted no presenta</font> <br>
                    <font size="6" color="white">ninguna emergencia</font> <br>
                    <font size="6" color="white"></font> 
                </b>

            </ion-col>
        </ion-row>
        <ion-row>
           
            <ion-col>
                <ion-button color="danger" expand="block" href="tel:+56945439776" >Click para llamar a nuestro centro medico</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="warning" expand="block" href="maps" >Click ver mapa</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color ="success" expand="block" href="menu-principal" >Volver al menu principal</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="tertiary" expand="block" href="nivelesEmergencia" >Volver</ion-button>
            </ion-col>
        </ion-row>
        
    </ion-grid>
</ion-content>