<ion-header>
    
    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title  class="ion-text-center" >
            <font size = "6">Contactos</font>
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    
    <ion-grid class="completo">
        <br><br><br>
        <ion-row>
            <ion-col class="ion-text-center">
                <b>
                    <font size="6" color="white">Numero de contacto</font> <br>
                    <font size="4" color="white">Linea 1: +56912345678</font> <br>
                    <font size="4" color="white">Linea 2: +56912312313</font> <br>

                </b>
            </ion-col>
 
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="success" expand="block" href="tel:+56945439776" >Click para llamar</ion-button>
            </ion-col>
        </ion-row>
        <br><br><br>
        <ion-row>
            <ion-col class="ion-text-center">
                <b>
                    <font size="6" color="white">Correo Electronico</font> <br>
                    <font size="4" color="white">Correo 1: da.godoyc@duocuc.cl</font> <br>
                    <font size="4" color="white">Correo 2: juanitoperez@duocuc.cl</font> <br>
                </b>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="success" expand="block" href="mailto:da.godoyc@duocuc.cl" >Click enviar correo electronico</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button href="notas" expand="block" size="" href="menu-principal">
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>